ispyb-models==1.0.6

fastapi
pydantic[dotenv]
pydantic-sqlalchemy
uvicorn

SQLAlchemy

pyjwt
pdfkit
python-barcode
qrcode

python-keycloak==0.26.1
keycloak==3.1.3
keycloak-client

pint
python_ldap==3.4.0

sqlparse

mysql-connector-python==8.0.29

fabio
h5py
hdf5plugin
h5grove
numpy
matplotlib

mkdocs
mkdocs-material
