ispyb-models==1.1.0

fastapi
pydantic[dotenv]
pydantic-sqlalchemy

SQLAlchemy

pyjwt
pdfkit
python-barcode
qrcode

python-keycloak>=2.6.0

pint
python_ldap==3.4.0

sqlparse

mysql-connector-python==8.0.29

fabio
h5py
hdf5plugin
h5grove
numpy
matplotlib

mkdocs
mkdocs-material

uvicorn
gunicorn