ispyb-models==0.0.3

fastapi
pydantic[dotenv]
uvicorn

SQLAlchemy

pyjwt
mysqlclient
pdfkit
python-barcode
qrcode

python-keycloak==0.26.1
keycloak==3.1.3
keycloak-client

python_ldap==3.4.0

sqlparse

mysql-connector
mysql-connector-python

mkdocs
mkdocs-material