Flask>=1.1,<2
flask-restx
Flask-Cors>=3.0.8,<4

SQLAlchemy>=1.3.0,<2
Flask-SQLAlchemy>=2.4,<3
flask-sqlacodegen

marshmallow>=2.13.5,<3
flask-marshmallow>=0.7,<0.8
marshmallow-sqlalchemy>=0.12,<0.13
marshmallow_jsonschema
webargs>=1.4.0,<2

Alembic>=1.0,<2

pyjwt
mysqlclient
ruamel.yaml
pdfkit
python-barcode
qrcode
